RewriteEngine On
RewriteBase /api-php/

# Evitar bucle: si la petición es a index.php, no reescribir
RewriteCond %{REQUEST_URI} !index\.php$

# Si el archivo o carpeta existe, no reescribir
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirigir todo a index.php
RewriteRule ^ index.php [QSA,L]
